In [69]:
from pathlib import Path
import numpy as np
import pandas as pd
import requests
import json

In [2]:
zillow_path = Path("Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
zip = "RegionName"
zillow_df = pd.read_csv(zillow_path, dtype={zip:str})
zillow_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,208752.177188,...,468400.012962,469600.790271,471587.869725,474687.471351,477460.027392,479919.299106,481726.908022,482958.479293,483644.390919,484254.484150
1,61148,2,08701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,133799.965954,...,517054.419786,521100.063176,526320.736228,532105.809020,538056.023382,543798.549494,549960.546654,557112.585902,563739.635747,568385.787815
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,102327.332899,...,274575.011824,273391.851083,272916.706411,273291.932508,274045.370378,274933.235990,275461.772882,275451.663963,275219.130604,274931.001539
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,147672.475058,...,480340.864596,473730.902787,466644.010241,461261.507623,459443.414913,459437.482269,458881.548977,456860.171677,453514.767036,449239.710048
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,100957.722364,...,267553.019024,266769.398609,266628.259422,267219.988459,268054.762069,268918.974834,269342.669492,269333.119699,268917.017812,268499.368493

In [3]:
nj_df = zillow_df.loc[zillow_df["State"]=="NJ"]
nj_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
1,61148,2,08701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,133799.965954,...,517054.419786,521100.063176,526320.736228,532105.809020,538056.023382,543798.549494,549960.546654,557112.585902,563739.635747,568385.787815
209,60565,215,07055,zip,NJ,NJ,Passaic,"New York-Newark-Jersey City, NY-NJ-PA",Passaic County,112257.216787,...,434515.584285,438302.873564,443556.388111,448065.465094,450674.818598,451572.325846,452642.300974,454584.729097,457385.725657,460060.463208
218,60642,224,07305,zip,NJ,NJ,Jersey City,"New York-Newark-Jersey City, NY-NJ-PA",Hudson County,155565.081912,...,452519.058390,453824.390647,456646.018622,459021.235458,462018.932069,464900.871530,467901.468729,470251.189218,472032.532734,473196.414613
263,60594,269,07087,zip,NJ,NJ,Union City,"New York-Newark-Jersey City, NY-NJ-PA",Hudson County,90766.359313,...,445259.657238,447288.497272,451733.111089,455802.885936,458105.447499,459328.697150,460471.564590,462596.991564,465896.827481,471667.587630
337,61169,344,08753,zip,NJ,NJ,Toms River,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,128491.913171,...,436283.234154,437756.598019,440522.020782,444103.558338,448297.681818,451976.275057,455271.357058,458529.076749,461728.978439,465068.322323

In [54]:
nj_2020_df = nj_df[["RegionID","State", "City", "CountyName","RegionName", "2019-09-30","2020-09-30","2021-09-30"]]
nj_2020_df= nj_2020_df.astype({"RegionName":str},errors='raise')
nj_2020_df=nj_2020_df.rename(columns={"RegionName":"Zip Code"})
len(nj_2020_df["Zip Code"].unique())

547

In [62]:
great_path = Path("greatschools2exl.xlsx")
greatDf = pd.read_excel(great_path, dtype=str)
greatDf = greatDf.dropna(how="any")
greatDf.head()

,Unnamed: 0,School,Rating,Rating scale,Address,Zip Code,Type,Grades,Total Students Enrolled,PercentLowIncome,Ethnicity,Students per teacher,District,URL
1,1,A C Mac Kinnon Middle School,6,Average,137 East Central Avenue,07885,public,6-8,267,54%,"[{'label': 'Low-income', 'rating': 5, 'percent...",8,Wharton Borough Board Of Education School Dist...,/new-jersey/wharton/2215-A-C-Mac-Kinnon-Middle...
2,2,A E Burling Elementary School,9,Above average,3600 HARRIS AVENUE,08105,public,"PK, K-3",108,60%,"[{'label': 'Low-income', 'percentage': 60}, {'...",14,Pennsauken Township Board Of Education School ...,/new-jersey/pennsauken-township/4564-A-E--Burl...
3,3,A Hamilton Preparatory Academy,6,Average,310 Cherry Street,07208,public,9-12,1000,73%,"[{'label': 'Low-income', 'percentage': 73}, {'...",16,Elizabeth Public School District,/new-jersey/elizabeth/7069-A-Hamilton-Preparat...
4,4,A. Chester Redshaw Elementary School,2,Below average,216 Livingston Avenue,08901,public,"PK, K-5",824,93%,"[{'label': 'Low-income', 'percentage': 93}, {'...",12,New Brunswick Public School District,/new-jersey/new-brunswick/1296-A.-Chester-Reds...
5,5,A. Russell Knight Elementary School,8,Above average,140 Old Carriage Road,08034,public,K-5,394,6%,"[{'label': 'Low-income', 'percentage': 6}, {'l...",12,Cherry Hill Township School District,/new-jersey/cherry-hill/295-A.-Russell-Knight-...

In [70]:
great_path = Path("greatschools2exl.xlsx")
greatDf = pd.read_excel(great_path, dtype=str)
greatDf = greatDf[["Rating", "Zip Code", "Total Students Enrolled", "Students per teacher"]]
great_group_df = greatDf.groupby("Zip Code")
great_group_df["Rating"].mean()

Zip Code
07046    9708737864077670238373907525504049783135098659...
07076                                                  inf
07094                                                  NaN
07107    2157497303128370861890151770554155586558169751...
07203    1078748651564185430945075885277077793279084875...
07205                                                  NaN
07208    6472491909385112974204233756808280943566890619...
07305    9708737864077670238373907525504049783135098659...
07405    4314994606256741723780303541108311173116339503...
07438    5393743257820927737526047094104110242233996426...
07481    4314994606256741723780303541108311173116339503...
07504                                                  NaN
07719    2157497303128370861890151770554155586558169751...
07740    4314994606256741723780303541108311173116339503...
07753    9806805923310775970973378929979603586119362386...
07866                                                  NaN
07885    6472491909385112974204233756808280943566890619...
08034    8629989212513483447560607082216622346232679006...
08105    9708737864077670238373907525504049783135098659...
08110                                                  NaN
08205    4314994606256741723780303541108311173116339503...
08861    2157497303128370861890151770554155586558169751...
08901    2157497303128370861890151770554155586558169751...
Name: Rating, dtype: object

In [43]:

greatDf.head()

,Rating,Zip Code,Total Students Enrolled,Students per teacher,School
0,NaN,07504,77,4,14# Avenue Early Learning Center
1,6,07885,267,8,A C Mac Kinnon Middle School
2,9,08105,108,14,A E Burling Elementary School
3,6,07208,1000,16,A Hamilton Preparatory Academy
4,2,08901,824,12,A. Chester Redshaw Elementary School

In [51]:
mergeDf = pd.merge(nj_2020_df,greatDf,right_on="Zip Code",left_on="Zip Code", how="inner")
mergeDf

,RegionID,State,City,CountyName,Zip Code,2019-09-30,2020-09-30,2021-09-30,Rating,Total Students Enrolled,Students per teacher,School
0,60642,NJ,Jersey City,Hudson County,07305,360178.175774,395956.883982,439702.986062,9,432,15,Academy I
1,60642,NJ,Jersey City,Hudson County,07305,360178.175774,395956.883982,439702.986062,9,432,15,Academy I
2,60642,NJ,Jersey City,Hudson County,07305,360178.175774,395956.883982,439702.986062,9,432,15,Academy I
3,60642,NJ,Jersey City,Hudson County,07305,360178.175774,395956.883982,439702.986062,9,432,15,Academy I
4,60642,NJ,Jersey City,Hudson County,07305,360178.175774,395956.883982,439702.986062,9,432,15,Academy I
...,...,...,...,...,...,...,...,...,...,...,...,...
2570,60559,NJ,Mountain Lakes,Morris County,07046,805604.041351,797058.211556,888879.612906,9,51,NaN,Academy For Biotechnology
2571,60559,NJ,Mountain Lakes,Morris County,07046,805604.041351,797058.211556,888879.612906,9,51,NaN,Academy For Biotechnology
2572,60559,NJ,Mountain Lakes,Morris County,07046,805604.041351,797058.211556,888879.612906,9,51,NaN,Academy For Biotechnology
2573,60559,NJ,Mountain Lakes,Morris County,07046,805604.041351,797058.211556,888879.612906,9,51,NaN,Academy For Biotechnology
2574,60559,NJ,Mountain Lakes,Morris County,07046,805604.041351,797058.211556,888879.612906,9,51,NaN,Academy For Biotechnology

In [48]:
groupDf = mergeDf.groupby("Zip Code")
groupDf.nunique()

,RegionID,State,City,CountyName,2019-09-30,2020-09-30,2021-09-30,Rating,Total Students Enrolled,Students per teacher,School
Zip Code,,,,,,,,,,,
07046,1,1,1,1,1,1,1,1,1,0,1
07076,1,1,1,1,1,1,1,1,3,3,3
07094,1,1,1,1,1,1,1,0,1,0,1
07107,1,1,1,1,1,1,1,1,1,1,1
07203,1,1,1,1,1,1,1,1,1,1,1
07205,1,1,1,1,1,1,1,0,1,1,1
07208,1,1,1,1,1,1,1,1,1,1,1
07305,1,1,1,1,1,1,1,1,1,1,1
07405,1,1,1,1,1,1,1,1,1,1,1
07438,1,1,1,1,1,1,1,1,1,0,1
07481,1,1,1,1,1,1,1,1,1,1,1
07504,1,1,1,1,1,1,1,0,1,1,1
07719,1,1,1,1,1,1,1,1,1,1,1
07740,1,1,1,1,1,1,1,1,1,1,1
07753,1,1,1,1,1,1,1,1,1,1,1
07866,1,1,1,1,1,1,1,0,1,0,1
07885,1,1,1,1,1,1,1,1,1,1,1
08034,1,1,1,1,1,1,1,1,1,1,1
08105,1,1,1,1,1,1,1,1,1,1,1
08110,1,1,1,1,1,1,1,0,1,0,1
08205,1,1,1,1,1,1,1,1,1,1,1
08861,1,1,1,1,1,1,1,1,1,1,1
08901,1,1,1,1,1,1,1,1,1,1,1